body{
    box-sizing:border-box;
    font-size: 14px;
    background: rgb(255, 238, 155);
    font-family: system-ui;
    background-image: url('https://i.imgur.com/r56fxtn.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    
    
}
/* background image*/


body p{
    font-size: 20px;
}
/*----- top two columns -----------*/
body .container{
    display: flex;
    gap: 10px;
    width: 0%;
}

body .container .column{
    width: 20%;
    justify-content: space-between;
}

body .title {
    text-align: center;
    font-family: Papyrus, fantasy;
    font-size: 24px;
    padding: 0px;
}


/*---------- User Details Left --------------*/
.post-comment .list .user .status{
    background: rgb(193, 250, 252);
    border-radius: 6px;
    box-shadow: 0 2px 2px rgb(196, 92, 152);
    min-width: 500px;
    padding-bottom: 20px;
    padding: 10px;
    
}

.status-up{
    width: 800px;
    height: auto;
    margin: 0 ;
}

.post-comment .list {
    width: 100%;
    margin-bottom: 12px;
}

.post-comment .list .user{
    display: flex;
    width: 100%;
    padding: 8px;
    overflow: hidden;
    margin-right: 150px;
    margin-top: 70px;
}

/*------ User img ---------*/
.post-comment .list .user img{
    display: flex;
    width: 50px;
    margin-left: 50px;
    border-radius: 50%;
    border: 5px solid rgb(196, 92, 152);
}






/*------ User Status 'What I'm up to' ---------*/
.post-comment .list .update{
    font-size: 12px;
    text-align: center;
    background-color: rgb(196, 92, 152);
    -webkit-text-fill-color: white;
    
    
}



/*-------- All About Me - Right side -----------*/

.all-about{display: block;
    background: rgb(193, 250, 252);
    border-radius: 6px;
    box-shadow: 0 2px 2px rgb(196, 92, 152);
    padding-bottom: 20px;
    padding-left: 10px;
    width: 500px;
    min-height: 100px;
    margin-top: 50px;
    padding-top: 2px;
}

.all-about .update {
    font-size: 12px;
    text-align: center;
    background-color: rgb(196, 92, 152);
    -webkit-text-fill-color: white;
    width: 490px;
    max-height: 40px;
  
    
   
    
}


/*-------- all icons-------------*/


/*-------- badge ------------*/

body .badge{
    display: flex;
    padding-left: 200px;
    width: 45px;
    height: 45px;
}

.badge h6{
    font-size: 12px;
    padding: 10px;
}


/*-------- My Stuff Links -------------*/

.my-links .column{
    width: 20%;
}

.my-links .stuff h1{
    display: flex;
    margin-left: 375px;
    color: rgb(196, 92, 152);
   /*----------- use this if you want outline text-shadow:
    -1px -1px 0 #000, 
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  ---------*/
}

body .my-links .col{
    display: flex;   
    margin-left: 200px;
    margin-top: 25px; 
    padding: 10px;
    padding-left: 35px;
    width: 390px;
    height: 75px;
    border-radius: 5%;
    border: 2px solid rgb(196, 92, 152);
    background-color: rgb(235, 235, 235);
    
    
}

.my-links .col img{
    width: 30px;
    height: 30px;
    padding: 30px;
    padding-bottom: 15px;
    
}

/*---------- audio player ------------*/

.audio{
    padding: 20px;
    margin-left: 270px;
    -webkit-text-fill-color: rgb(196, 92, 152);
    
   
}


/*--------- My Fav Video -----------*/


body .vid{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  border: 1px black;
  width: 60%;
 
}

.video-container .vid{
    width: 1120px; 

}






/*-------- Buttons -------------*/



.btn{
    transition: transform 0.3s

}

.btn:hover{
    transform: translateY(-5px)

}


.badge img{
    transition: transform 0.3s

}

.badge img:hover{
    transform: translateY(-5px)

}
 


/*------- media query --------*/

@media only screen and (max-width: 200px) {
    .video-container .vid {
      width: 560px;
      

    }
  }